doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title
  body
    h1 This is example with value passing values are dynamic
    p.container Hi #{Name}
    p.container This is my linkdein name #{Linkedin}